html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1;
 /* 1 */
    -webkit-text-size-adjust: 100%;
 /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2em;
    margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
 /* 1 */
    height: 0;
 /* 1 */
    overflow: visible;
 /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
 /* 1 */
    font-size: 1em;
 /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
    text-decoration: none;
    color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
 /* 1 */
    text-decoration: underline;
 /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
 /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
 /* 1 */
    font-size: 1em;
 /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
    display: block;
    width: 100%;
    height: auto;
    border-style: none;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
 /* 1 */
    font-size: 100%;
 /* 1 */
    line-height: 1.15;
 /* 1 */
    margin: 0;
 /* 2 */
    font-family: inherit;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  /* 1 */
    overflow: visible;
    border: 0;
    padding: 0;
    background-color: transparent;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
 /* 1 */
    color: inherit;
 /* 2 */
    display: table;
 /* 1 */
    max-width: 100%;
 /* 1 */
    padding: 0;
 /* 3 */
    white-space: normal;
 /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
    box-sizing: border-box;
 /* 1 */
    padding: 0;
 /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
    -webkit-appearance: textfield;
 /* 1 */
    outline-offset: -2px;
 /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
 /* 1 */
    font: inherit;
 /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MontserratRegular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/MontserratSemiBold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
  font-family: "Exo";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/exo_extralight.woff2") format("woff2");
}
/* Global */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 150%;
    color: #d2d7d9;
    background-color: #2b2b2b;
}

body.is-block {
    overflow: hidden;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section__top {
    display: grid;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
}

.title {
    margin-bottom: 8px;
    font-size: 25px;
    font-family: "Exo", sans-serif;
    letter-spacing: 4px;
    font-weight: 400;
    line-height: 120%;
    text-transform: capitalize;
}

.subtitle {
    font-size: 20px;
    line-height: 120%;
    font-family: "Exo", sans-serif;
    letter-spacing: 4px;
    text-transform: capitalize;
}

/* Button */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 370px;
    height: 40px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    text-transform: capitalize;
    color: #d2d7d9;
    font-weight: 600;
    letter-spacing: inherit;
    line-height: 16px;
    border: 1px solid #595959;
    background: linear-gradient(to bottom, #4D4D4D, #404040);
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.button__stroke {
    background: #333333;
}

.button__item {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button__rocket {
    background-image: url("../../images/svg/rocket.svg");
}

.button__profile {
    background-image: url("../images/svg/profile.svg");
}

.button__discord {
    background-image: url("../images/svg/discord.svg");
}

.button__eye {
    background-image: url("../images/svg/eye.svg");
}

.button__instagram {
    background-image: url("../images/svg/instagram.svg");
}

.button__message {
    background-image: url("../images/svg/message.svg");
}

.button__twitter {
    background-image: url("../images/svg/twitter.svg");
}

.button__youtube {
    background-image: url("../images/svg/youtube.svg");
}

/* User */
.user-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border: 1px solid #595959;
    background-color: #333333;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user__image {
    width: 40px;
    height: 40px;
    border: 1px solid #595959;
    border-radius: 50%;
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.button-reset {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .button {
        justify-self: flex-end;
    }

    .section__top {
        grid-template-columns: repeat(2, minmax(290px, auto));
        align-items: flex-end;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (any-hover: hover) {
    .button:hover {
        opacity: 0.5;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    background-color: #2b2b2b;
    transition: background 0.2s ease;
  /* Logo */
  /* Burger */
  /* Navigation */
}

.header.is-active {
    background-color: #404040;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    overflow: hidden;
}

.header__logo {
    width: 100%;
    max-width: 240px;
}

.header .burger {
    position: fixed;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 40px;
    padding-right: 15px;
    transition: background 0.2s ease;
    border-radius: 5px 0 0 5px;
    border: 1px solid #595959;
    border-color: transparent;
}

.header .burger__item {
    position: relative;
    width: 18px;
    height: 1px;
    background-color: #d2d7d9;
    transition: 0.2s ease;
}

.header .burger__item::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: 24px;
    height: 100%;
    background-color: currentColor;
    transition: 0.2s ease;
}

.header .burger__item::after {
    position: absolute;
    content: "";
    bottom: 8px;
    left: 0;
    width: 24px;
    height: 100%;
    background-color: currentColor;
    transition: 0.2s ease;
}

.header .burger.is-clicked .burger__item {
    transform: rotate(-45deg);
    width: 24px;
}

.header .burger.is-clicked .burger__item::before {
    transform: rotate(-90deg);
    top: 0;
    opacity: 0;
}

.header .burger.is-clicked .burger__item::after {
    transform: rotate(90deg);
    bottom: 0;
}

.header .burger.is-active {
    background-color: #404040;
    border-color: #595959;
    border-right-color: transparent;
    border-radius: 5px 0 0 5px;
}

.header .navigation {
    position: fixed;
    z-index: 9;
    top: 0;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 0;
    padding-right: 24px;
    padding-bottom: 0;
    padding-left: 24px;
    background-color: #333333;
    transition: right 0.2s ease;
}

.header .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    width: 100%;
}

.header .navigation.is-active {
    right: 0;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        z-index: 8;
        padding-right: 0;
        padding-bottom: 30px;
        padding-left: 0;
    }

    .header__logo {
        grid-column: 1 span;
    }

    .header .navigation {
        position: static;
        height: auto;
        width: auto;
        padding: 0;
        background: transparent;
    }

    .header .navigation__list {
        flex-direction: row;
    }

    .header .navigation__button {
        display: none;
    }

    .header .burger {
        display: none;
    }
}

@media (min-width: 992px) {
    .header__container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 30px;
    }

    .header__logo {
        grid-column: 1/3;
    }

    .header .navigation {
        grid-column: 4/10;
    }

    .header .navigation__list {
        gap: 0;
        justify-content: space-between;
    }

    .header .navigation__button {
        display: inline-flex;
        max-width: none;
        width: -moz-fit-content;
        width: fit-content;
        padding-top: 11px;
        padding-right: 16px;
        padding-bottom: 11px;
        padding-left: 16px;
    }
}

@media (min-width: 1200px) {
    .header__container {
        grid-template-columns: repeat(12, 1fr);
    }

    .header__logo {
        grid-column: 3 span;
    }

    .header .navigation {
        grid-column: 6/13;
    }
}

.home {
    padding-top: 80px;
}

.home__container {
    position: relative;
    padding-top: 50px;
}

.home__title {
    max-width: 500px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 35px;
    letter-spacing: 4px;
}

.home__text {
    max-width: 500px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: auto;
}

.home__image {
    max-width: 370px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: auto;
}

.home__hide {
    display: none;
}

.home__button {
    display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 32px;
    margin-left: auto;
}

.home .stats {
    display: flex;
    max-width: 370px;
    justify-content: space-between;
    gap: 15px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.home .stats__title {
    font-size: 20px;
}

.home .stats__text {
    text-transform: capitalize;
}

@media (min-width: 992px) {
    .home__container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 30px;
        padding-top: 120px;
    }

    .home__offer {
        grid-column: 4 span;
    }

    .home__title {
        position: relative;
        z-index: 3;
        font-size: 50px;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .home__text {
        position: relative;
        z-index: 3;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .home__image {
        position: absolute;
        z-index: 1;
        top: 120px;
        right: 15px;
        margin-bottom: 0;
    }

    .home__hide {
        position: absolute;
        z-index: 0;
        top: 140px;
        right: 100px;
        transform: rotate(-30deg);
        display: block;
        margin-bottom: 0;
    }

    .home__button {
        max-width: 290px;
        margin-right: 0;
        margin-left: 0;
    }

    .home .stats {
        margin-left: 0;
        margin-right: 0;
    }

    .home .stats__title {
        font-size: 25px;
    }
}

@media (min-width: 1200px) {
    .home__container {
        grid-template-columns: repeat(12, 1fr);
    }

    .home__offer {
        grid-column: 5 span;
    }

    .home__hide {
        right: 150px;
    }
}

.collection__content {
    display: grid;
    gap: 30px;
    justify-content: center;
}

.collection__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 370px;
}

.collection__item.is-hidden {
    display: none;
}

.collection .collection-card__image {
    border: 1px solid #595959;
}

.collection .collection-card__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.collection .collection-card__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #595959;
    background-color: #333333;
}

.collection__button {
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .collection__content {
        grid-template-columns: repeat(2, minmax(200px, 370px));
    }

    .collection .kitties--card {
        display: flex;
    }

    .collection__button {
        max-width: 370px;
    }
}

@media (min-width: 992px) {
    .collection {
        padding-top: 200px;
    }

    .collection__content {
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 0;
    }

    .collection__item {
        grid-column: 4 span;
        gap: 8px;
    }

    .collection .is-hidden {
        display: flex;
    }

    .collection .collection-card__list {
        gap: 8px;
    }

    .collection .collection-card .user-card {
        gap: 18px;
        padding-top: 18px;
        padding-right: 24px;
        padding-bottom: 18px;
        padding-left: 24px;
    }

    .collection__button {
        display: none;
    }
}

.creators__list {
    display: grid;
    grid-template-columns: minmax(auto, 400px);
    justify-content: center;
    gap: 18px;
    counter-reset: steps;
}

.creators__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border: 1px solid #595959;
    background-color: #333333;
}

.creators__item.is-hidden {
    display: none;
}

.creators__counter {
    position: absolute;
    content: "";
    top: 4px;
    right: 4px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #595959;
    background-color: #404040;
}

.creators__counter::after {
    counter-increment: steps;
    content: counter(steps);
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

.creators__image {
    width: 80px;
    height: 80px;
    border: 1px solid #595959;
    border-radius: 50%;
    overflow: hidden;
}

.creators__wrapper {
    display: flex;
    flex-direction: column;
}

.creators__username {
    font-weight: 600;
    letter-spacing: 1px;
}

.creators__text {
    text-transform: capitalize;
    font-size: 14px;
}

.creators__price {
    margin-left: 8px;
    font-weight: 600;
}

.creators__button {
    display: flex;
    max-width: 370px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .creators__list {
        grid-template-columns: repeat(2, minmax(auto, 400px));
    }

    .creators__counter {
        width: 25px;
        height: 25px;
    }

    .creators__counter::after {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .creators__list {
        grid-template-columns: repeat(9, 1fr);
        gap: 30px;
    }

    .creators__item {
        grid-column: 3 span;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        min-height: 270px;
    }

    .creators__item.is-hidden {
        display: flex;
    }

    .creators__counter {
        top: 24px;
        left: 24px;
        width: 30px;
        height: 30px;
    }

    .creators__counter::after {
        font-size: 16px;
    }

    .creators__image {
        width: 120px;
        height: 120px;
    }

    .creators__wrapper {
        text-align: center;
        gap: 8px;
    }

    .creators__username {
        font-size: 20px;
    }

    .creators__text {
        font-size: 16px;
    }

    .creators__button {
        display: none;
    }
}

@media (min-width: 1200px) {
    .creators__list {
        grid-template-columns: repeat(12, 1fr);
    }

    .creators__item {
        grid-column: 3 span;
        flex-direction: column;
        justify-content: center;
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        min-height: 270px;
    }
}

.categories__list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    justify-content: center;
}

.categories__category {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    border: 1px solid #595959;
    cursor: pointer;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.categories__image {
    min-height: 130px;
}

.categories__subtitle {
    font-size: 14px;
}

@media (any-hover: hover) {
    .categories__category:hover {
        box-shadow: 0 0px 8px rgba(89, 89, 89, 0.8), 0 0px 16px rgba(89, 89, 89, 0.8);
    }
}

@media (min-width: 768px) {
    .categories__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .categories__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .categories__category {
        gap: 24px;
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
    }

    .categories__subtitle {
        font-size: 20px;
    }
}

.discover__list {
    display: grid;
    grid-template-columns: minmax(auto, 370px);
    justify-content: center;
    gap: 18px;
}

.discover__card {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 12px;
    border: 1px solid #595959;
}

.discover__user-card {
    padding: 0;
    border: 0;
    background: none;
}

.discover__price-block {
    display: flex;
    justify-content: space-between;
}

.discover__price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.discover__span {
    text-transform: capitalize;
    color: #595959;
    font-size: 14px;
}

.discover__cost {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
}

.discover__cost:last-child {
    text-align: right;
}

@media (min-width: 768px) {
    .discover__list {
        grid-template-columns: repeat(2, minmax(200px, 370px));
        gap: 30px;
    }
}

@media (min-width: 992px) {
    .discover__list {
        grid-template-columns: repeat(3, minmax(200px, 370px));
        gap: 30px;
    }
}

@media (min-width: 1200px) {
    .discover__card {
        padding-top: 18px;
        padding-right: 24px;
        padding-bottom: 18px;
        padding-left: 24px;
        gap: 24px;
    }
}

.help__list {
    display: grid;
    gap: 18px;
    justify-content: center;
}

.help__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 327px;
    height: 300px;
    padding-top: 24px;
    padding-right: 34px;
    padding-bottom: 24px;
    padding-left: 34px;
    border: 1px solid #595959;
    background-color: #333333;
}

.help__title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.help__text {
    text-align: center;
    letter-spacing: 1px;
}

@media (min-width: 992px) {
    .help__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .help__block {
        max-width: none;
        gap: 22px;
    }
}

.digest__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    border: 1px solid #595959;
    background-color: #333333;
}

@media (min-width: 768px) {
    .digest__wrapper {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .digest__wrapper {
        gap: 0;
        justify-content: space-between;
        padding-top: 50px;
        padding-right: 70px;
        padding-bottom: 50px;
        padding-left: 70px;
    }
}